<script setup>
import InputSearch from '@/components/prompt/search/input-search.vue'
import SearchResult from '@/components/prompt/search/search-result.vue'
import FormPrompt from '@/components/prompt/categories/form-prompt.vue'
import { usePromptStore } from '@/stores/prompt.module';
import { computed } from 'vue';
//data
const promptStore = usePromptStore();
const detailPrompt = computed(() => promptStore.detailPrompt);
</script>

<template>
    <div class="flex flex-col gap-4">
        <InputSearch />
        <SearchResult />
        <FormPrompt :data="detailPrompt?.result" :loading="'spending'== detailPrompt.status"/>
    </div>
</template>
