<script setup>

import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import { usePromptStore } from '@/stores/prompt.module';
import { computed } from 'vue';

// data

const promptStore = usePromptStore()
const searchPrompt = computed(() => promptStore.searchPrompt)
// method
function handleSubmit(e) {
    const formData = new FormData(e.target)
    promptStore.setSearchPromptsResult({
        search: formData.get('search'),
    })
}

</script>

<template>
    <form class="flex gap-2 items-stretch" @submit.prevent="handleSubmit">
        <InputText type="search" placeholder="Mẫu câu"
            class="p-2 flex-1 w-full border border-solid border-gray-200" name="search" required/>
        <Button type="submit" icon="pi pi-search" class="bg-primary text-white p-2 whitespace-nowrap"
            loadingIcon="pi pi-spin pi-spinner" :loading="'spending'== searchPrompt.status" />
    </form>
</template>
