<script setup>
import { usePromptStore } from '@/stores/prompt.module';
import { computed, ref, watch } from 'vue';
import ListBox from 'primevue/listbox'
import { checkEmpty } from '@/helper/utils';
import Skeleton from 'primevue/skeleton';
//data
const promptStore = usePromptStore();
const searchPrompt = computed(() => promptStore.searchPrompt);
const selectedPropmpts = ref();
const detailPrompt = computed(() => promptStore.detailPrompt);

// warch
watch(() => selectedPropmpts.value, () => {
    promptStore.setDetailPromptsResult(selectedPropmpts.value.id)
})
</script>

<template>
    <div>
        <Skeleton height="348px" v-if="searchPrompt.status == 'spending'"></Skeleton>
        <div class="card flex justify-content-center" v-else>
            <div class="flex flex-col gap-2 w-full" v-if="!checkEmpty(searchPrompt.result)">
                <div>
                    Danh sách kết quả:
                </div>
                <ListBox v-model="selectedPropmpts" :options="searchPrompt.result" optionLabel="name"
                    class="w-full md:w-14rem" :disabled="'spending' == detailPrompt.status"
                    >
                    <template #option="scope">
                        <div class="flex flex-col gap-2">
                            <div>
                                {{ scope.option.name }}
                            </div>
                            <div class="text-sm line-clamp-1" v-tooltip.top="scope.option.prompt">
                                {{ scope.option.prompt }}
                            </div>
                        </div>
                    </template>
                </ListBox>
            </div>
            <div v-else class="flex justify-center w-full">
                <img src="@/assets/images/no-data.png" alt="empty-image" width="200">
            </div>
        </div>
    </div>
</template>

