<script setup>
import Dropdown from 'primevue/dropdown';
import { defineModel, defineProps } from 'vue';
const value = defineModel()
const props = defineProps(['placeholder', 'options', 'loading', 'disabled', 'label'])
</script>

<template>
    <div class="flex flex-col items-end gap-2">
        <div class="text-gray-400 italic text-right">
            {{ label }}
        </div>
        <Dropdown v-model="value" 
            optionLabel="name" 
            inputClass="text-white" 
            dropdownIcon="pi pi-chevron-down text-white" 
            filter
            loadingIcon="pi pi-spin pi-spinner text-white"
            emptyFilterMessage="Không tìm thấy"
            emptyMessage="Không có dữ liệu"
            class="w-full sm:w-fit md:w-14rem bg-primary text-sm"
            :options="options" 
            :placeholder="placeholder"
            :filterInputProps="{
                className: ' focus:outline-primary p-2 mb-2 border border-gray-200 rounded-md w-full text-sm',
                placeholder: 'Tìm kiếm',
            }"
            :loading="loading"            
        >
            <template #value="slotProps">
                <div v-if="slotProps.value" class="flex items-center gap-2 text-sm">
                    <i class="pi pi-check"></i>
                    <div class="text-white">{{ slotProps.value.name }}</div>
                </div>
                <span v-else class="text-sm">
                    {{ slotProps.placeholder }}
                </span>
            </template>
            <template #option="slotProps">
                <div class="flex align-items-center text-sm">
                    <div>{{ slotProps.option.name }}</div>
                </div>
            </template>
        </Dropdown>
    </div>
</template>