<script setup>
import { defineProps, ref, watch } from 'vue'
import Text from './input-type/text.vue'
import Select from './input-type/select.vue'
import ResultPrompt from './result-prompt.vue'
import { checkEmpty } from '@/helper/utils'
import { sendPromptResult } from '@/extension';
import Skeleton from 'primevue/skeleton';
const props = defineProps(['data', 'loading'])
const Component = {
    'text': Text,
    'select': Select
}

const field = ref({})

const replace = ref(props.data?.prompt)

function fill(string, key) {
    if (string == '') return `[[${key}]]`
    return string
}

function replaceText(string, field) {
    let result = string
    for (let key in field) {
        var regex = new RegExp("\\[\\[" + key + "\]\\]", "g");
        result = result.replace(regex, fill(field[key], key))
    }

    return result

}

watch(field.value, function () {
    replace.value = replaceText(props.data?.prompt, field.value)
    sendPromptResult(replace.value)
})


watch(() => props.data.prompt, function () {
    replace.value = replaceText(props.data?.prompt, field.value)
    sendPromptResult(replace.value)
})
</script>

<template>
    <Skeleton height="200px" v-if="loading"></Skeleton>
    <div v-else>
        <div class="flex flex-col border border-solid border-gray-200 rounded-md p-4 gap-4" v-if="!checkEmpty(data)">
            <form class="flex flex-col gap-2">
                <div v-for="(item, index) in data['bindings']" :key="index">
                    <component :is="Component[item.type]" :data="item" v-model="field[item.name]" />
                </div>
            </form>
            <ResultPrompt :result="replace"/>
        </div>
    </div>
</template>