<script setup>
import InputCategory from '@/components/prompt/categories/input-category.vue'
import FormPrompt from '@/components/prompt/categories/form-prompt.vue'
import { usePromptStore } from '@/stores/prompt.module'
import { computed, watch, ref } from 'vue'
import PromptService from '@/services/Prompt.service'
// import { useGtm } from '@gtm-support/vue-gtm'

// const gtm = useGtm()
const promptStore = usePromptStore()
const promptId = computed(() => promptStore.promptId)
const promptDetails = ref({})
const loadingDetails = ref(false)

watch(() => promptId.value, async () => {
    promptDetails.value = await getPromptDetails(promptId.value)
})

// methods
const getPromptDetails = async (id) => {
    loadingDetails.value = true
    try {
        const res = await PromptService.getPromptDetails(id)
        if(res?.statusCode == 'error') {
            console.error( res )
            return []
        }
        if(res.data) {
            return res.data
        }
        return []
    } catch (error) {
        console.error(error)
        return []
    } finally {
        loadingDetails.value = false
    }
}
// onMounted(() => {
//   gtm.dataLayer({
//     event: 'page_view',
//     'currentPath': 'Categories',
//   })
// })
</script>

<template>
    <div class="flex flex-col gap-4">
        <InputCategory />
        <FormPrompt :data="promptDetails" :loading="loadingDetails"/>
    </div>
</template>


