<script setup>
import DropdownInputVue from '@/components/prompt/categories/dropdown-input.vue'
import { ref, onMounted, watch } from 'vue'
import CategoriesPromptService from '@/services/CategoriesPrompt.service'
import { checkEmpty } from '../../../helper/utils';
import { usePromptStore } from '@/stores/prompt.module'
import Skeleton from 'primevue/skeleton';
// data
const categories = ref([])
const loadingCategories = ref(false)
const categoriesSelected = ref()


const subCategoriesSelected = ref()

const prompts = ref([])
const loadingPrompts = ref(false)
const promptSelected = ref()
const promptStore = usePromptStore()
// mounted
onMounted(async () => {
    categories.value = await getCategories()
})

// watch

watch(() => categoriesSelected.value, async () => {
    subCategoriesSelected.value = undefined
})

watch(() => subCategoriesSelected.value, async () => {
    promptSelected.value = undefined
    if(!subCategoriesSelected.value) return
    prompts.value = await getPromptsByCategory(subCategoriesSelected.value.id)
})


watch(() => promptSelected.value, async () => {
    if(!promptSelected.value) return
    promptStore.setPromptId(promptSelected.value.id)
})



//methods

const getCategories = async () => {
    loadingCategories.value = true
    try {
        const res = await CategoriesPromptService.getCategories()
        if (res?.statusCode == 'error') {
            console.error(res)
            return []
        }
        if (res.data) {
            return res.data
        }
        return []
    } catch (error) {
        console.error(error)
        return []
    } finally {
        loadingCategories.value = false
    }
}

const getPromptsByCategory = async (id) => {
    loadingPrompts.value = true
    try {
        const res = await CategoriesPromptService.getPromptsByCategory(id)
        if (res?.statusCode == 'error') {
            console.error(res)
            return []
        }
        if (res.data) {
            return res.data
        }
        return []
    } catch (error) {
        console.error(error)
        return []
    } finally {
        loadingPrompts.value = false
    }
}
</script>

<template>
    <div class="flex flex-col gap-2">
        <DropdownInputVue placeholder="Chọn chủ để" v-model="categoriesSelected" :options="categories['mainCategories']"
            :loading="loadingCategories" :disabled="loadingCategories" label="Chọn chủ đề mà bạn muốn viết" />
        <DropdownInputVue placeholder="Chọn chủ đề con" v-model="subCategoriesSelected"
            :options="categories['subCategories'][categoriesSelected?.id]" v-if="categoriesSelected" label="Chọn chủ đề con" />
        <Skeleton height="40px" width="100px" class="ml-auto" v-if="loadingPrompts"></Skeleton>
        <div v-else>
            <DropdownInputVue placeholder="Chọn mẫu" v-model="promptSelected" :options="prompts"
                v-if="!checkEmpty(prompts)" :loading="loadingPrompts" :disabled="loadingPrompts"
                label="Chọn mẫu thích hợp và sử dụng"    
            />
        </div>
    </div>
</template>
