<script setup>
import Button from 'primevue/button'
import { sendSubmitAction } from '@/extension';
import { defineProps, ref } from 'vue';
const props = defineProps(['result'])

const isCopy = ref(false)
const handleCopy = (text) => {
    isCopy.value = true
    var tempInput = document.createElement("input");
    // Thiết lập giá trị của thẻ input là nội dung cần sao chép
    tempInput.value = text;
    // Thêm thẻ input vào DOM
    document.body.appendChild(tempInput);
    // Chọn toàn bộ nội dung trong thẻ input
    tempInput.select();
    // Thực hiện lệnh sao chép vào clipboard
    document.execCommand("copy");
    // Loại bỏ thẻ input tạm thời khỏi DOM
    document.body.removeChild(tempInput);
   setTimeout(() => {
       isCopy.value = false
   }, 1000);
}
</script>

<template>
    <div class="flex flex-col gap-2" v-if="result">
        <div class="flex items-center justify-between">
            <div class="">
                Kết quả
            </div>
            <Button :icon="isCopy ? 'pi pi-check' : 'pi pi-copy'"
                class="p-button-rounded p-button-secondary bg-primary text-white hover:bg-primary/70"
                @click="handleCopy(result)"
            />
        </div>
        <p class="p-4 rounded-md bg-gray-200  break-words">
            {{ result }}
        </p>
        <Button class="p-2 rounded bg-primary text-white w-fit ml-auto " @click="sendSubmitAction()">Áp dụng</Button>
    </div>
</template>