<script>
import { ref } from "vue";
import { useLayoutStore } from "@/stores/layout.module";

export default {
  setup() {
    const data = localStorage.getItem("detailAi")
      ? JSON.parse(localStorage.getItem("detailAi"))
      : {};
    const activeHeart = ref(data.isFavorite);
    const layoutStore = useLayoutStore();

    const backBefore = () => {
      layoutStore.setActiveSidebar(layoutStore.historyRoute.before);
    };
    return {
      data,
      activeHeart,
      backBefore,
    };
  },
};
</script>

<template>
  <div>
    <div
      class="flex justify-between items-center border-b border-b-gray-200 pb-3"
    >
      <div class="flex gap-3 items-center">
        <div
          @click="backBefore"
          class="border border-gray-200 rounded-full h-8 w-8 flex justify-center items-center cursor-pointer hover:opacity-50"
        >
          <i class="pi pi-arrow-left"></i>
        </div>
        <div class="flex justify-between flex-col items-start">
          <a
            :href="data.link"
            target="_blank"
            class="text-2xl font-bold truncate text-primary hover:text-primary/45"
          >
            {{ data.name }}
          </a>
          <span class="text-sm text-nowrap text-gray-400">
            AI content, AI tạo ảnh
          </span>
        </div>
      </div>
      <div class="flex flex-col justify-end items-center h-full">
        <span
          @click.prevent="activeHeart = !activeHeart"
          class="cursor-pointer"
        >
          <i
            class="pi pi-heart hover:scale-105 active:scale-100 duration-100"
            v-if="!activeHeart"
          ></i>
          <i class="pi pi-heart-fill text-red-500" v-else></i>
        </span>
        <span
          class="block text-sm font-semibold text-nowrap text-gray-900"
        >
          {{ data.totalFavorite }} ưa thích
        </span>
      </div>
    </div>
    <div class="text-sm mt-3 text-gray-900">
        {{ data.description }}
    </div>
  </div>
</template>
