<script>
import listItemToolVue from "../components/list-tool-ai/list-item-tool.vue";
import { onMounted, ref, watch } from "vue";
import AIRepositoryClass from "../services/AIModels.service";
import Skeleton from 'primevue/skeleton';
import get from "lodash/get"
import isEmpty from "lodash/isEmpty";
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
export default {
    components: {
        listItemToolVue,
        Skeleton,
        InputText,
        Button,
    },
  setup() {
    const dataListItemTool = ref([]);
    const isLoading = ref(false)
    const textFilter = ref("");
    const clearText = () => {
      textFilter.value = "";
    };
    const dataHandled = ref(dataListItemTool.value);

    const filterAIsByIdAndGroup = (data, id, group) => {
      const filteredAIs = [
        {
            id: id,
            group: group,
            items: [],
        },
      ];

      const idSet = new Set(); // Sử dụng Set để đảm bảo các id là duy nhất

      for (const item of data) {
        for (const ai of item.items) {
          // Chỉ thêm ai vào items nếu id chưa tồn tại trong idSet
            if (!idSet.has(ai.id)) {
                idSet.add(ai.id);
                filteredAIs[0].items.push(ai);
            }
        }
      }
      return filteredAIs;
    };
    const searchItems = (arr, keyword) => {
        const filteredAIs = filterAIsByIdAndGroup(arr, 3939, "AI Tìm kiếm");
        const lowerKeyword = keyword.toLowerCase();

        // Truy cập trực tiếp vào thuộc tính items của filteredAIs
        const filteredItems = filteredAIs[0].items.filter(item => {
            const lowerTitle = item.name.toLowerCase();
            const lowerDescription = item.description.toLowerCase();
            return lowerTitle.includes(lowerKeyword) || lowerDescription.includes(lowerKeyword);
        });

        return filteredItems;
    };

    watch(() => textFilter.value, (newValue) => 
    {
        if (textFilter.value === "") 
        {
            dataHandled.value = dataListItemTool.value;
            return;
        }
        if(!isEmpty(dataListItemTool.value))
        {
            dataHandled.value = [
                {
                    id: 3939,
                    group: "Tìm kiếm AI",
                    items: searchItems(dataListItemTool.value, newValue),
                },
            ];

        }
    });

  


    onMounted(async () => {
        isLoading.value = true;

        try {
            const result = await AIRepositoryClass.getAIServices() || {};

            if(result?.statusCode == 'error') {
                return
            }
            if(result.data) {
                dataListItemTool.value = get(result, 'data', {});
                return
            }
        } catch (error) {
            dataListItemTool.value = {}
            isLoading.value = false;
        }finally {
            isLoading.value = false;
        };
    });

    watch(
        () => dataListItemTool.value,
        (newValue) => {
            dataHandled.value = newValue;
        }
    );

    return {
        textFilter,
        clearText,
        dataListItemTool,
        dataHandled,
        isLoading
    };
  },
};
</script>

<template>
  <div class="w-full">
    <h2 class="font-bold text-2xl">Danh sách công cụ AI</h2>
    <div>
        <div class="flex gap-2 items-stretch mt-4">
            <InputText type="search" placeholder="Tìm kiếm công cụ AI..."
                class="p-2 flex-1 w-full border border-solid border-gray-200" name="search" required
                v-model="textFilter"
            />
            <Button type="button" label="Làm mới" class="bg-primary text-white p-2 whitespace-nowrap"
                @click="clearText"
            />
        </div>

        <div v-if="!isLoading">
            <div v-if="dataHandled[0]?.items.length != 0"> 
                <template v-for="(item, index) in dataHandled" :key="item.id">
                    <listItemToolVue
                    :title="item.group"
                    :data="item.items"
                    :index="index"
                    />
                </template>
            </div>
            <div v-if="!dataHandled[0]" class="flex flex-col justify-center items-center"> 
                <img src="../assets/images/no-data.png" alt="No data" class="mx-auto h-[100px] w-[100px] mt-6 ">
                <span class="text-gray-500 text-md block">
                    Không tìm thấy AI nào trong cơ sở dữ liệu
                </span>
            </div>
        
            <div v-if="dataHandled[0]?.id == 3939 && dataHandled[0]?.items.length == 0">
                <div class="flex justify-between items-center gap-3 mt-5">
                <span class="block text-gray-500 text-md">Tìm kiếm AI</span>
                <span class="border-b mt-1 border-gray-200 flex-1"> </span>
                </div>
                <ul class="mt-3 divide-gray-200">
                    <li class="text-center text-gray-500 text-sm mt-3">
                        Không có công cụ AI phù hợp nào
                    </li>
                </ul>
            </div>                   
        </div>
        <div v-else>
           <div class="flex justify-between items-center gap-3 mt-5">
                <Skeleton width="80px" height="24px"  borderRadius="8px" class="mt-3  text-md"></Skeleton>
                <span class="border-b mt-3 border-gray-200 flex-1"> </span>
                </div>
                <ul class="mt-4 divide-gray-200">
                    <li class="flex items-center gap-3">
                        <Skeleton width="4rem" height="3rem" borderRadius="100%"></Skeleton>
                        <Skeleton width="100%" height="3rem" borderRadius="16px"></Skeleton>
                    </li>
                    <li class="flex items-center gap-3 mt-3">
                        <Skeleton width="4rem" height="3rem" borderRadius="100%"></Skeleton>
                        <Skeleton width="100%" height="3rem" borderRadius="16px"></Skeleton>
                    </li>
                </ul>
        </div>   

    </div>
  </div>
</template>
