
<script setup>
// import InputText from 'primevue/inputtext'
import Button from 'primevue/button'
import Toast from 'primevue/toast';
// import Message from 'primevue/message';
// import cn from '@/helper/cn';
import { loginGoolge } from '@/extension';
// data
// computed

//watch

// watch(() => status.value, () => {
//     if(status.value === 'success'){
//         // toast.add({
//         //     severity: 'success',
//         //     summary: "Đăng nhập thành công",
//         //     detail: 'Chúc mừng bạn đã đăng nhập thành công',
//         //     life: 3000,
//         // });
//         route.setActivePage('extension')
//         return
//     }
//     if(status.value === 'error'){
//         toast.add({
//             severity: 'error',
//             summary: "Có lỗi",
//             detail: authStore.auth.message,
//             life: 3000,
//         });
//         return
//     }
// })


// methods
// const handleSubmit = (e) => {
//     const formData = new FormData(e.target)
//     authStore.setLogin({
//         username: formData.get('username'),
//         password: formData.get('password'),
//         remember: formData.get('remember') ? true : false,
//     })
// }

const handleloginGoogle = () => {
    loginGoolge()
}
</script>

<template>
    <Toast/>
    <section class="bg-white flex items-center justify-center h-dvh flex-col gap-10">
        <img src="@/assets/images/chatgpt.webp" alt="logo-company" class="w-[100px] h-[100px] object-contain">
        <Button type="submit" label="Đăng nhập" class="bg-primary w-[200px] p-2 text-white hover:shadow-lg hover:shadow-[var(--primary-700)] hover:-translate-y-1 duration-150 transition-all active:translate-y-0" icon="pi pi-user"
            @click="handleloginGoogle"
        />
        <!-- <div class="flex flex-col items-center justify-center h-screen mx-auto">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
                <img class="w-8 h-8 mr-2" src="https://www.pngall.com/wp-content/uploads/15/ChatGPT-Logo-PNG-Pic.png"
                    alt="logo">
                Adsbase Extension
            </a>
            <div
                class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1
                        class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Đăng nhập
                    </h1>
                    <Message severity="error" closeIcon="pi pi-times" style="display: none">Có lỗi xảy ra trong quá trình đăng nhập!</Message>
                    <form class="space-y-4 md:space-y-6" action="#" @submit.prevent="handleSubmit">
                        <div>
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Tên đăng nhập</label>
                            <InputText name="username" type="username" id="username" placeholder="Tên đăng nhập" class="w-full p-2 border border-solid border-gray-200" required/>
                        </div>
                        <div>
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900">Mật khẩu</label>
                            <InputText name="password" id="password" type="password" placeholder="Password" class="w-full p-2 border border-solid border-gray-200" required/>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input type="checkbox" name="remember" id="remember" class="w-4 h-4 border border-gray-200 rounded">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember" class="text-gray-500">Ghi nhớ</label>
                                </div>
                            </div>
                            <a href="#"
                                class="text-sm font-medium text-primary hover:underline">Quên mật khẩu?</a>
                        </div>
                        <Button type="submit" label="Đăng nhập" class="w-full bg-primary p-2 text-white hover:bg-primary/70" icon="pi pi-user" disabled
                        />
                        <p class="text-sm font-light text-gray-500">
                            Chưa có tài khoản? <a href="#"
                                class="font-medium text-primary hover:underline">Đăng ký</a>
                        </p>
                    </form>
                    <button 
                        id="googleLoginButton"
                        :class="cn(
                            'flex items-center justify-between bg-blue-500 p-2 rounded-md text-white w-full',
                        )"
                        @click="handleloginGoogle"
                    >
                        <div>
                            <i class="pi pi-spinner pi-spin" style="display: none" id="spinnerGoogleLogin"></i>
                            <img src="@/assets/images/google-icon.png" width="24" alt="google-icon" class="scale-125" id="googleIconLogin">
                        </div>
                        <div class="flex-1">Đăng nhập với Google</div>
                    </button>
                </div>
            </div>
        </div> -->
    </section>
</template>
