<script setup>
import Categories from '@/components/prompt/categories/index.vue'
import Search from '@/components/prompt/search/index.vue'
import Button from 'primevue/button'
import cn from '@/helper/cn'
import { ref } from 'vue'
const Component = {
    categories: {
        icon: 'pi pi-bookmark',
        label: 'Chủ đề',
        element: Categories,
        tab: 'categories',
    },
    search: {
        icon: 'pi pi-search',
        label: 'Tìm kiếm',
        element: Search,
        tab: 'search',

    },
}

const activeComponent = ref('categories')

</script>

<template>
    <div>
        <div class="flex items-center sticky top-0 z-10 p-2 rounded-md gap-4 bg-white">
            <Button v-for="(item, index) in Component" :key="index" :label="item.label" :icon="item.icon" 
                :class="cn(
                    'py-2 border-b border-white rounded-none text-sm',
                    { 'border-b border-primary text-primary': activeComponent == item.tab },
                    { 'hover:text-[var(--primary-600)]': activeComponent != item.tab }
                )" 
                @click="activeComponent = item.tab"
            />
        </div>

        <div class="mt-4">
            <KeepAlive>
                <component :is="Component[activeComponent].element" />
            </KeepAlive>
        </div>

    </div>
</template>