
<script setup>
import InputText from 'primevue/inputtext'
import Button from 'primevue/button'
import Toast from 'primevue/toast';
import { useAuthStore } from '@/stores/auth.module';
import { useToast } from 'primevue/usetoast';
import { computed, watch } from 'vue';
// data
const authStore = useAuthStore()
const toast = useToast();


// computed
const status = computed(() => {
    return authStore.auth.status
})

//watch

watch(() => status.value, () => {
    if(status.value === 'success'){
        toast.add({
            severity: 'success',
            summary: "Đăng nhập thành công",
            detail: 'Chúc mừng bạn đã đăng ký thành công',
            life: 3000,
        });
        return
    }
    if(status.value === 'error'){
        toast.add({
            severity: 'error',
            summary: "Có lỗi",
            detail: authStore.auth.message,
            life: 3000,
        });
        return
    }
})

// methods
const handleSubmit = (e) => {
    const formData = new FormData(e.target)
    authStore.setLogin({
        username: formData.get('username'),
        password: formData.get('password'),
        remember: formData.get('remember') ? true : false,
    })
}
</script>

<template>
    <Toast/>
    <section class="bg-gray-50">
        <div class="flex flex-col items-center justify-center h-screen mx-auto">
            <!-- <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
                <img class="w-8 h-8 mr-2" src="https://www.pngall.com/wp-content/uploads/15/ChatGPT-Logo-PNG-Pic.png"
                    alt="logo">
                Adsbase Extension
            </a> -->
            <div
                class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1
                        class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Đăng ký
                    </h1>
                    <form class="space-y-4 md:space-y-6" action="#" @submit.prevent="handleSubmit">
                        <div>
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Tên đăng nhập</label>
                            <InputText name="username" type="username" id="username" placeholder="Tên đăng ký" class="w-full p-2 border border-solid border-gray-200" required/>
                        </div>
                        <div>
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900">Mật khẩu</label>
                            <InputText name="password" id="password" type="password" placeholder="Password" class="w-full p-2 border border-solid border-gray-200" required/>
                        </div>
                        <Button type="submit" label="Đăng ký" class="w-full bg-primary p-2 text-white hover:bg-primary/70" icon="pi pi-user"
                            :loading="status=='spending'"
                        />
                        <p class="text-sm font-light text-gray-500">
                            Bạn đã có tài khoản? <a href="#"
                                class="font-medium text-primary hover:underline">Đăng nhập</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

