<script setup>
import { defineProps, defineModel } from 'vue';
import Dropdown from 'primevue/dropdown';
const props = defineProps(['data'])
const model = defineModel()
</script>

<template>
    <Dropdown v-model="model" :options="data.options" optionLabel="name" optionValue="value"
        :placeholder="data.placeholder" class="w-full md:w-14rem border border-solid border-gray-200"
        emptyFilterMessage="Không tìm thấy" emptyMessage="Không có dữ liệu">
        <template #value="slotProps">
            <div v-if="slotProps.value" class="flex items-center gap-2 text-sm">
                <i class="pi pi-check"></i>
                <div class="text-white">{{ slotProps.value.name }}</div>
            </div>
            <span v-else class="text-sm">
                {{ slotProps.placeholder }}
            </span>
        </template>
    </Dropdown>
</template>