<script setup>
import { defineProps, defineModel } from 'vue';
import InputText from 'primevue/inputtext';
const props = defineProps(['data'])
const model = defineModel()
</script>

<template>
    <div class="flex flex-col gap-2">
        <label :for="data.name">
            {{ data.label ? data.label : data.placeholder }}
        </label>
        <InputText :name="data.name" type="text" v-model="model" :placeholder="data.placeholder" :id="data.name" class="w-full p-2 border border-solid border-gray-200 "/>
    </div>
</template>