<script>
import { ref } from "vue";
import { useLayoutStore } from "@/stores/layout.module";
import { SIDE_BAR } from "@/constants/enums/layout";
import { handleFetchAction } from "@/helper/api-method";
import AIRepositoryClass from "@/services/AIModels.service";
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const activeHeart = ref(props.data.isFavorite);
    //variables
    const layoutStore = useLayoutStore();
    const showReadMore = ref(false);
    const loadingAddToFavorite = ref(false);
    const addAiToFavoriteState = ref({
      status: '',
      message: '',
      data: {}
    })
    const setActiveSidebar = (item, mode = "detail") => {
      let clearDetailAI = true;
      if (mode === "detail") {
        localStorage.setItem("detailAi", JSON.stringify(props.data));
        clearDetailAI = false;
      }
      layoutStore.setActiveSidebar(item, clearDetailAI);
    };

    const handleAddAiToFavorite = async (id) => {
      // loadingAddToFavorite.value = true
      // await handleFetchAction(() => AIRepositoryClass.addAiToFavorite(id), addAiToFavoriteState.value)
      // if(addAiToFavoriteState.value.status == 'error') {
      //   return
      // }
      // activeHeart.value = !activeHeart.value
      // if(activeHeart.value) {
      //   props.data.totalFavorite = props.data.totalFavorite + 1
      // } else {
      //   props.data.totalFavorite = props.data.totalFavorite - 1
      // }
      
    }

    return {
      activeHeart,
      setActiveSidebar,
      SIDE_BAR,
      props,
      showReadMore,
      handleAddAiToFavorite,
      addAiToFavoriteState,
    };
  },
};
</script>

<template>
  <li class="pb-3 sm:pb-4">
    <div class="flex items-center justify-between space-x-4 rtl:space-x-reverse gap-3">
      <div class="flex gap-3 items-center">
        <a :href="props.data.link" target="_blank" class="flex-shrink-0">
          <img class="w-8 h-8 rounded-full" :src="props.data.avatar" :alt="props.data.name" />
        </a>

        <div class="text-primary cursor-pointer" @click="setActiveSidebar(SIDE_BAR.DetailToolAI)">
          <a :href="props.data.link" target="_blank"
            class="text-sm font-medium truncate hover:text-primary/45 hover:underline"
            @click.stop="setActiveSidebar(SIDE_BAR.Prompt)">
            {{ props.data.name }}
          </a>
          <p class="text-sm line-clamp-1 text-gray-500 w-full relative hover:text-gray-100 duration-100"
            @mouseenter="showReadMore = true" @mouseleave="showReadMore = false">
            {{ props.data.description }}
            <span class="absolute inset-y-0 left-1/2 -translate-x-1/2 pr-1 text-primary underline cursor-pointer "
              v-if="showReadMore">
              Xem thêm
            </span>
          </p>
        </div>
      </div>
      <!-- <div class="flex flex-col justify-between h-full items-center text-sm font-semibold text-nowrap text-gray-900">
        <button @click.prevent="handleAddAiToFavorite(props.data.id)" class="cursor-pointer"
          :disabled="addAiToFavoriteState.status == 'spending'"
        >
          <i class="pi pi-spinner pi-spin" v-if="addAiToFavoriteState.status == 'spending'"></i>
          <div v-else>
            <i class="pi pi-heart hover:scale-105 active:scale-100 duration-100" v-if="!activeHeart"></i>
            <i class="pi pi-heart-fill text-red-500" v-else></i>
          </div>
        </button>
        <span> {{ props.data.totalFavorite }} ưa thích </span>
      </div> -->
    </div>
  </li>
</template>
