<script>
import { computed, ref, watch } from "vue";
import itemToolVue from "./item-tool.vue";
import { useLayoutStore } from "@/stores/layout.module";
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
 
    data: {
      type: Array,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    }
  },
  components: {
    itemToolVue,
  },
  setup(props) {
    const layout = useLayoutStore();
    const dataHandled = computed(() => (props.data))
    

    return {
      layout,
      dataHandled
    };
  },
};
</script>
<template>
  <div class="flex justify-between items-center gap-3" :class="index === 0 ? 'mt-5' : 'mt-3'" >
    <span class="block text-gray-500 text-md"> {{ title }}</span>
    <span class="border-b mt-1 border-gray-200 flex-1"> </span>
  </div>
  <ul class=" mt-3 divide-gray-200">
      <item-tool-vue v-for="item in dataHandled" :key="item.id" :data="item" />
  </ul>
</template>
