<script setup>
import RoutePage from '@/layouts/routePage.vue'
import { checkLogin } from '@/extension';
import { onMounted } from 'vue';
import _isEmpty from 'lodash/isEmpty'

onMounted(() => {
    if(!_isEmpty(JSON.parse(localStorage.getItem('ADSBASE-TOKEN')))) return
    checkLogin()
})

</script>

<template>
    <RoutePage/>
</template>
