<script>
import ListToolAIVue from '@/views/ListToolAI.vue'
import {computed, ref} from "vue"
import Avatar from 'primevue/avatar';
import Prompt from '@/views/prompt.vue'
import { useLayoutStore } from '@/stores/layout.module'
import { SIDE_BAR } from "@/constants/enums/layout"
import DetailToolAI from '@/views/DetailToolAI.vue'
import WhistList from '@/views/whistList.vue'
import { useRouteStore } from '@/stores/route.module';
export default {
    components: {
        ListToolAIVue,
        Avatar,
        Prompt,
        DetailToolAI,
        WhistList,
    },
    setup() {
        //variables
        const layoutStore = useLayoutStore()

        const activeItemNav=computed(()=>layoutStore.activeSideBar)

        const activeMenu = ref(false)

        const routeStore = useRouteStore()

        let inra = ref(localStorage.getItem('activeSidebar'))

        if(!inra.value)
        {
            localStorage.setItem('activeSidebar', activeItemNav.value)
        }
        //methods
        const handleSetComponent = (tabActive) => {
            layoutStore.setActiveSidebar(tabActive)
            inra.value = localStorage.getItem('activeSidebar')
        }


        const handleLogout = () => {
            localStorage.clear()
            routeStore.setActivePage('login')
        }

        return {
            activeItemNav,
            handleSetComponent,
            SIDE_BAR,
            inra,
            activeMenu,
            handleLogout
        } 
    }
}
</script>


<template>
<div class="fixed inset-0 grid grid-cols-7 h-screen">
    <div class="col-span-6 h-full overflow-y-auto relative no-scrollbar ">
        <component :is="activeItemNav" class="p-4 flex-1"></component>
    </div>
    <aside class="w-full bg-side-bar p-2 flex flex-col justify-between items-center">
        <div class="flex flex-col justify-center items-center gap-4 mt-4">
            <div class="rounded-full h-8 w-8 flex justify-center items-center cursor-pointer hover:scale-105 active:scale-100 duration-100"
                :class="activeItemNav===SIDE_BAR.ListTool ? 'active-item' : 'bg-button-icon'"
                @click="handleSetComponent(SIDE_BAR.ListTool)"
                v-tooltip.left="'Danh sách AI'"
            >
                <i class="pi pi-list font-bold " ></i>
            </div>
            <div class="rounded-full h-8 w-8 flex justify-center items-center cursor-pointer hover:scale-105 active:scale-100 duration-100"
                :class="activeItemNav===SIDE_BAR.WhistList ? 'active-item' : 'bg-button-icon'"
                @click="handleSetComponent(SIDE_BAR.WhistList)"
                v-tooltip.left="'AI yêu thích'"
            >
                <i class="pi pi-heart-fill font-bold " ></i>
            </div>
             <button class="rounded-full h-8 w-8 hidden justify-center items-center cursor-pointer hover:scale-105 active:scale-100 duration-100"
                :class="activeItemNav==='Prompt' ? 'active-item' : 'bg-button-icon'"
                @click="handleSetComponent(SIDE_BAR.Prompt)"
                v-tooltip.left="'Viết bài'"
                id="contentButton"
            >
                <i class="pi pi-pencil font-bold " ></i>
            </button>
        </div>
        <div class="flex flex-col justify-center items-center gap-4 mb-4">
            <div class="bg-button-icon rounded-full h-8 w-8 flex justify-center items-center cursor-pointer hover:scale-105 active:scale-100 duration-100">
                <i class="pi pi-question" style="color: black"></i>
            </div>
            <div class="relative">
                <Avatar label="V"  style="background-color: #0097A7; color: white" shape="circle" class=" select-none cursor-pointer hover:scale-105 duration-150"
                    @click="activeMenu = !activeMenu"
                />
                <div class="absolute bottom-full right-full bg-white shadow-md rounded">
                    <div class="p-2 flex items-center gap-2 group hover:bg-red-50 hover:text-red-500 cursor-pointer"
                        v-if="activeMenu"
                        @click="handleLogout"
                    >
                        <i class="pi pi-sign-out"></i>
                       <span class="whitespace-nowrap"> Đăng xuất</span>
                    </div>
                    <button class="absolute bottom-full right-full bg-white shadow-md hover:scale-110 duration-150 hover:bg-red-50 hover:text-red-500 rounded-full flex items-center justify-center"
                    v-if="activeMenu"
                    @click="activeMenu = false"
                    >
                        <i class="pi pi-times scale-50"></i>
                    </button>
                </div>
            </div>
        </div>
    </aside>
</div>
</template>
