<script setup>
import { computed } from 'vue';
import mainLayoutVue from '@/layouts/main-layout.vue';
import { useRouteStore } from '@/stores/route.module';
import Login from '@/views/login.vue';

const route = useRouteStore()
const activePage = computed(() => route.page)
const page = {
    login: Login,
    extension: mainLayoutVue     
}

</script>

<template>
    <component :is="page[activePage]"></component>
</template>

